PuLP==2.1
Unidecode==1.1.1
scipy==1.4.1
gensim==3.8.3
tqdm==4.46.1
pandas==1.0.3
six==1.15.0
nltk==3.5
torch==1.5.1
pytorch_pretrained_bert==0.6.2
numpy==1.18.5
adamod==0.0.3
fuzzywuzzy==0.18.0
ortools==7.7.7810
scikit_learn==0.23.1
spacy==2.3.2
